/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*package sizing for table images*/
.recipe-small-image{
  width:70px;
  height: 50px;
  border-radius: 100%;
}

/*recipe profile styling*/
.recipe-profile{
  background-color: #DEE8E8;
}

.recipe-image{
  width: 70%;
  height: 70%;
  margin-bottom: 15px;
}

.recipe-name{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#recipe-cooking-time{
  border-bottom: 1px dotted black;
  margin-left: 80px;
  margin-right: 80px;
}

#recipe-ingredients{
  margin: 5px 80px 40px 80px;
  border-bottom: 1px dotted black;
}

.recipe-detail{
  text-align: left;
}

#first-ingredient{
  padding-bottom: 10px;
}
.ingredient-display{
  margin-top: 10px;
  text-align: left;
  margin-left: 77px;
}

ul{
  list-style-type: none;
}
